APScheduler==3.6.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Failsafe==0.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
memoization==0.1.4
Pillow==8.3.2
pydarksky==2.0.1
Pyphen==0.9.5
pytz==2019.2
requests==2.22.0
six==1.12.0
tzlocal==2.0.0
urllib3==1.26.5
Werkzeug==0.15.5
